*{
	padding:0;
	margin:0;
}

body{
	font-family:"Segoue",sans-serif;
	line-height:1.6em;
	color:#666;
	background:#e1e1e1 url(../img/creampaper.png);
	font-size:16px;
}

a{
	color:#333;
	text-decoration:none;
}

#container{
	width:100%;
	background:#fff;
	margin:auto;
}

.clearfix{
	clear:both;
}

header{
	padding:30px 20px;
	background-color: #27a772;
}

header h1{
	color:#fff;
	margin-bottom:5px;
}

section{
	padding:30px 20px 20px 20px;
}

footer{
	padding:20px;
	background:#f4f4f4;
	text-align:center;
}

#results li{
	padding:10px 0;
	border-bottom:1px #ccc dotted;
	list-style:none;
	overflow:auto;
}

#details li{
	overflow:auto;
}

.list_item{
	padding:10px 0;
	list-style:none;
}

.list-left{
	float:left;
	width:20%;
}

.list-left img{
	width:100%;
	padding:3px;
	border:solid #ccc 1px;
}

.list-left h3{
	color: #239660;
	margin-bottom: 10px;
	font-size: 13px;
}

.list-right{
	float:right;
	width:70%;
	margin-top: 30px;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.list-right h3{
	font-size: 13px;
}

.paging-button{
	background:#f4f4f4;
	padding:8px 13px;
	border:#ccc 1px solid;
	color:#333;
	margin:20px 0px 10px 0px;
	cursor:pointer;
	float: left;
	outline: none;
}

.paging-button:hover{
	background-color: #239660;
	color: #fff
}

.paging-button-active{
	background-color: #239660;
	color: #fff
}

small span{
	color: #239660;
	font-weight: bold;
	font-size: 12px;
}

.comments {
	float: left;
	margin-top: 20px;
	width: 100%;
}

.comments h3{
	font-size: 16px;
}

.comments-list{
	border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0px;
    margin: 10px 0px 0px 0px;
    list-style:none;
}

.comments-list-left {
	float:left;
	width:10%;
	padding: 10px 0px 10px 10px;
}

.comments-list-left h3{
	color: #239660;
	font-size: 13px;
}

.comments-list-left img{
	width:100%;
	padding:3px;
	border:solid #ccc 1px;
}

.comments-list-right{
	float:right;
	width:80%;
	margin-top: 20px;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    #container{
		width: 100%;
	}
	.list-right h3{
		font-size: 13px;
	}
	small span{
		font-size: 12px;
	}
	.list-right {
		width: 70%;
	}
	.list-left h3{
		font-size: 14px;
	}
	.comments-list-left h3{
		font-size: 13px;
	}
	.comments-list-right{
		width:80%;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	#container{
		width: 100%;
	}
	.list-right h3{
		font-size: 13px;
	}
	small span{
		font-size: 12px;
	}
	.list-right {
		width: 75%;
	}
	.list-left h3{
		font-size: 16px;
	}
	.comments-list-left h3{
		font-size: 16px;
	}
	.comments-list-right{
		width:82%;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	#container{
		width:740px;
	}
	.list-right h3{
		font-size: 18px;
	}
	small span{
		font-size: 14px;
	}
	.list-right {
		width: 75%;
	}
	.comments-list-left h3{
		font-size: 16px;
	}
	.comments-list-right{
		width:85%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	#container{
		width:740px;
	}
	.list-right h3{
		font-size: 18px;
	}
	small span{
		font-size: 14px;
	}
	.list-right {
		width: 75%;
	}
	.comments-list-left h3{
		font-size: 16px;
	}
	.comments-list-right{
		width:85%;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	#container{
		width:740px;
	}
	.list-right h3{
		font-size: 18px;
	}
	small span{
		font-size: 14px;
	}
	.list-right {
		width: 75%;
	}
	.comments-list-left h3{
		font-size: 16px;
	}
	.comments-list-right{
		width:85%;
	}
}
