<!DOCTYPE html>
<html>
	<head>
		<title>Ditail Issues</title>
		<link rel="stylesheet" href="css/style.css">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	</head>
	<body>
		<div id="container">
			<header>
				<h1>Details</h1>
			</header>
			<section>
				<ul id="details"></ul>
			</section>
			<footer>
				<p>Copyright &copy; 2016, All Rights Reserved</p>
			</footer>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="js/underscore-min.js"></script>
		<script src="js/script.js"></script>
		<script type="text/html" id="issues_template">
			<% _.each(items, function(item, key, list) { %>
			<li class="list_item">
				<div class="list-left">
					<h3><%= item.user_name %></h3>
					<img src=<%= item.user_avatar_url %></img>
				</div>

				<div class="list-right">
					<h3><%= item.issue_title %></h3>
					<small>Issue Number: <%= item.issue_number %> </small><br/>
					<small>Labels: <%= item.issue_labels %> </small><br/>
					<small>Issue: <%= item.body %> </small><br/>
				</div>
			</li>
			<% }); %>
		</script>
	</body>
</html>