<!DOCTYPE html>
<html>
	<head>
		<title>Ditail Issues</title>
		<link rel="stylesheet" href="css/style.css">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	</head>
	<body onload="modularpattern.getDetailOutput()">
		<div id="container">
			<header>
				<h1>Details</h1>
			</header>
			<section>
				<ul id="details"></ul>
			</section>
			<footer>
				<p>Copyright &copy; 2016, All Rights Reserved</p>
			</footer>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="js/underscore-min.js"></script>
		<script src="js/script.js"></script>
		<script type="text/html" id="details_template">
			<% _.each(items, function(item, key, list) { %>
			<li class="list_item">
				<div class="list-left">
					
					<% if (item.detail_issue_user_name != null) { %>
    					<h3><%= item.detail_issue_user_name %></h3>
					<% } else { %>
    
					<% } %>

					<% if (item.detail_issue_user_avatar_url != null) { %>
    					<img src=<%= item.detail_issue_user_avatar_url %> ></img>
					<% } else { %>
    
					<% } %>
				</div>

				<div class="list-right">
					<% if (item.detail_issue_title != null) { %>
    					<h3> <%= item.detail_issue_title %> </h3>
					<% } else { %>
    
					<% } %>
					
					<% if (item.detail_issue_state != null) { %>
    					<small>State: <%= item.detail_issue_state %> </small><br/>
					<% } else { %>
    
					<% } %>

					<% if (item.detail_issue_labels != null) { %>
    					<small> Labels: <%= item.detail_issue_labels %> </small><br/>
					<% } else { %>
    
					<% } %>

					<% if (item.detail_issue_full_body != null) { %>
    					<small>Issue: <%= item.detail_issue_full_body %> </small><br/>
					<% } else { %>
    
					<% } %>
				</div>

				<div class="comments">
					<% if (item.detail_issue_comments_number != 0) { %>
						<h3>Comments</h3>
						 <% for(var i = 0; i < item.detail_issue_comments.length; ++i) { %>
						 	<li class="comments-list">
							 	<div class="comments-list-left">

							 		<% if (item.detail_issue_comments[i].commentName != null) { %>
				    					<h3><%= item.detail_issue_comments[i].commentName %></h3>
									<% } else { %>
				    
									<% } %>

									<% if (item.detail_issue_comments[i].commentAvatar != null) { %>
				    					<img src=<%= item.detail_issue_comments[i].commentAvatar %> ></img>
									<% } else { %>
				    
									<% } %>
							 	</div>

							 	<div class="comments-list-right">
							 		<% if (item.detail_issue_comments[i].commentBody != null) { %>
				    					<small><%= item.detail_issue_comments[i].commentBody %></small>
									<% } else { %>
				    
									<% } %>
							 	</div>
						 	</li>
						 	
					    <% } %>
					<% } else { %>

					<% } %>
					
				</div>
			</li>
			<% }); %>
		</script>
	</body>
</html>